.nav-side {
    float: left;
    width: 130px;
}
.nav-side .nav-item {
    line-height: 25px;
}
.nav-side .nav-item .link {
    padding-bottom: 2px;
}
.nav-side .nav-item.active .link {
    color: #c60023;
    font-weight: bold;
    border-bottom: 1px solid#c20067
}