<!DOCTYPE html>
<html lang="zh-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> <%= htmlWebpackPlugin.options.title%> --Mmall电子商务网站</title>
    <%= require('html-loader!./layout/html-head.html')%>
</head>
<body>
    <%= require('html-loader!./layout/nav.html')%>    
    <%= require('html-loader!./layout/header.html')%>

    <div class="crumb">
        <div class="w">
            <div class="crumb-container">
                <a href="./index.html" class="link">MMALL</a>>
                <span>></span>
                <a href="#" class="link">商品详情</a>
            </div>
        </div>
    </div>
    
    <div class="page-wrap w">
        
        
    </div>

    <%= require('html-loader!./layout/footer-common.html')%> 
</body>
</html>